*{
  padding: 0;
  margin: 0;
}


.navbar{
  background: #383a38;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 60px;
}

.navbar-nav{
  margin-right: 100px;
}

.nav-item{
  text-transform: uppercase;
  background: linear-gradient(to top, crimson 50%, rgba(0, 0, 0, 0) 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: all 0.2s;
  width: max-content;
}

.nav-item:hover{
    background-position: bottom;
}

.navbar-brand{
  color: #ffff !important;
  margin-right: 0 !important;
}

.logo{
  color: #ffff !important;
  margin: 0;
}

.nav-link{
  color: #ffff !important;
}

.btn{
  background-color: transparent !important;
  border: 0 !important;
}

.quantity{
  border: none;
  background-color: transparent;
  margin: 20px;
}

.central{
  display: flex;
  align-items: center;
}